*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
} 


.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    border: 2px solid black;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
}

.todo-app h2{
    display: flex;
    color: rgb(27, 27, 27);
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    position: relative;
    flex: 1;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #826eda;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.mid{
    display: flex;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-bottom: 30px;

}

#complete-all{
    margin-left: 10px;
    cursor: pointer;
}

#clear-all{
    margin-left: 90px;
    cursor: pointer;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    align-items: center;
}

  ul li:hover {
    background: lightyellow;
  }
  #list input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  
  #list label {
    position: relative;
    cursor: pointer;
  }
  
  #list label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #4CAF50;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
  }
  #list input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  #list input:checked + label:before {
    background: #4CAF50;
  } 
  #list input:checked + label {
    text-decoration: line-through;
  }
  .delete {
    height: 25px;
      padding: 5px 0px;
      border-radius: 3px;
  }
  .delete:hover {
    background: #f2f2f2;
    cursor: pointer;
  }

  .edit{
    height: 25px;
    padding: 5px 0px;
    border-radius: 3px;
    margin-right: 10px;
  }

  .edit:hover{
    background: #f2f2f2;
    cursor: pointer;
  }

  h1 {
    text-align: center;
  }
  .add-task {
    width: 100%;
      outline: none;
      font-size: 15px;
      padding: 11px;
      border: 1px solid #f3f3f3;
      margin-bottom: 3px;
  }

  
  

  #total-tasks {
    margin-bottom: 20px;
    font-size: 13px;
      margin-left: 2px;
      color: gray;
  }

.filters{
  margin-top: 40px;
}
.dropbtn {
  background-color: #826eda;
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #826eda;
}

.completed-task{
  display: inline-block;
  margin-left: 100px;
}

.remaining-task{
  display: inline-block;
  margin-left: 80px;
}


